<?xml version="1.0"?>
<launch>
     
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
    
  <node pkg="viewpoint_estimation" type="viewpoint_estimation" name="viewpoint_estimation" output="screen"> 
     <remap from="/image_raw" to="/usb_cam/image_raw" /> 
     <rosparam> 
      calibration_file: "/home/durovsky/catkin_ws/src/OpenCV_Library/viewpoint_estimation/data/geniusf100_calibration.txt"    
    </rosparam> 
  </node> 
 </launch>


